anyascii==0.1.7
anyio==2.1.0
appnope==0.1.2
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bleach==3.3.0
brotlipy==0.7.0
certifi==2020.12.5
click==8.0.1
contractions==0.0.48
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dominate==2.6.0
entrypoints==0.3
Flask==2.0.1
Flask-Bootstrap==3.3.7.1
fpdf==1.7.2
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
json5==0.9.5
jsonschema==3.2.0
gunicorn==25.0.3
Werkzeug==2.0.1
python-dotenv==1.2.0
